h3{
    font-size: 25px !important;
}
#snapshot:hover{
    background-color: red;
}
canvas{
    animation-name: example_animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes example_animation{
    from{
        box-shadow: 1px 1px 35px rgb(255, 0, 119);
    }
    to{
        box-shadow: 1px 1px 35px rgb(81, 6, 255);
    }
}
img{
    height: 80px;
    width: 80px;
    margin-left: 0.2px;
    margin-right: 0.2px;
    border: 1px;
    border-color: black;
    border-style: double;
}
#filter{
    background-color: bisque;
}